spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: ${UserName}
    password: ${password}

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true

aws:
  region: ap-northeast-2
  dynamodb:
    table-name: four-in-jeju
  # 비밀 파일에 있는 값을 변수로 가져옵니다.
  access-key: ${AWS_ACCESS_KEY}
  secret-key: ${AWS_SECRET_KEY}