spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:mariadb://localhost:3306/jeju_db
    username: jeju
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: false

  autoconfigure:
     exclude:
       - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
       - org.springframework.boot.autoconfigure.data.redis.RedisRepositoriesAutoConfiguration
       - org.springframework.boot.autoconfigure.session.SessionAutoConfiguration

aws:
  region: ${DYNAMODB_REGION}
  dynamodb:
    table-name: ${DYNAMO_TABEL_NAME}
  # access-key, secret-key는 DefaultCredentialsProvider가 자동으로 환경변수에서 찾음
  # Local: AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY (.env 파일)
  # EKS: AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY (Kubernetes Secret)

management:
  health:
    redis:
      enabled: false

jwt:
  secret: ${JWT_SECRET}

cognito:
  user-pool-id: ${COGNITO_USER_POOL_ID}
  issuer: ${COGNITO_ISSUER}
  jwks-url: ${COGNITO_JWKS_URL}
  client-id: ${COGNITO_CLIENT_ID}
  client-secret: ${COGNITO_CLIENT_SECRET}
  redirect-uri: ${COGNITO_REDIRECT_URI}
  domain: ${COGNITO_DOMAIN}

origin:
  verify-secret: ${ORIGIN_VERIFY_SECRET}

server:
  port: 8001