apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app-deployment
  labels:
    app: backend-app
spec:
  replicas: 1 # Default value
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
      - name: backend-app-container
        image: 310688446727.dkr.ecr.ap-northeast-2.amazonaws.com/backend-app:83fab31
        ports:
        - containerPort: 8001
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        
        # Secret을 통째로 환경변수로 로드 (envFrom)
        envFrom:
        - secretRef:
            name: mysql-credentials  # SPRING_DATASOURCE_* 값들이 자동으로 주입됨
        - secretRef:
            name: dynamodb-credentials # AWS_* 값들이 자동으로 주입됨

        env:
        - name: SPRING_PROFILES_ACTIVE
          value: local # Default
        
        # Cognito 설정 (공개 정보)
        - name: COGNITO_ISSUER
          value: "https://cognito-idp.ap-northeast-2.amazonaws.com/ap-northeast-2_c52hfkOYE"
        - name: COGNITO_JWKS_URL
          value: "https://cognito-idp.ap-northeast-2.amazonaws.com/ap-northeast-2_c52hfkOYE/.well-known/jwks.json"
