apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app-deployment
  labels:
    app: backend-app
spec:
  replicas: 1 # Default value
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
      - name: backend-app-container
        image: 310688446727.dkr.ecr.ap-northeast-2.amazonaws.com/backend-app:latest
        ports:
        - containerPort: 8001
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: local # Default
        - name: SPRING_DATASOURCE_URL
          value: ${SPRING_DATASOURCE_URL}
        - name: SPRING_DATASOURCE_USERNAME
          value: ${SPRING_DATASOURCE_USERNAME}
        - name: SPRING_DATASOURCE_PASSWORD
          value: ${SPRING_DATASOURCE_PASSWORD}
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: dynamodb-credentials
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: dynamodb-credentials
              key: AWS_SECRET_ACCESS_KEY
        - name: AWS_REGION
          valueFrom:
            secretKeyRef:
              name: dynamodb-credentials
              key: AWS_REGION
        - name: AWS_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: dynamodb-credentials
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: dynamodb-credentials
              key: AWS_SECRET_ACCESS_KEY
