apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
- ../../base

patches:
- path: deployment-patch.yml

# Production specific Ingress annotations can be added here via patchesJson6902 or StrategicMergePatch if needed,
# but for now base ingress is fine.

